<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="{{ eleventy.generator }}" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/bundle.css" />
  </head>
  <body>
    <div class="mobile-top">
      <button type="button">
      </button>
      <span>
        Kat's Blog
      </span>
    </div>
    <main style="{{ grid | toGridStyle }}">
      {{ content }}
    </main>
    <aside>
      <nav class="box">
        <div class="box-title">
          Site Menu
        </div>
        <div class="box-content">
          <a href="/">
            <img src="/images/icons/video-display.svg" />
            Homepage
          </a>
          <a href="/posts">
            <img src="/images/icons/folder-documents.svg" />
            Blog Posts
          </a>
          <a href="/projects">
            <img src="/images/icons/madobe_nanami.png" />
            Projects
          </a>
          <a href="/shrines">
            <img src="/images/icons/starred.svg" />
            Shrines
          </a>
        </div>
      </nav>
      {%- if changelog -%}
        <div class="box">
          <div class="box-title">
            Site Changelog
          </div>
          <div class="box-content changelog">
            {%- for change in changelog -%}
              <div><b>{{ change.date }}:</b> {{ change.content }}</div>
            {%- endfor -%}
          </div>
        </div>
      {%- endif -%}
      <div class="box">
        <div class="box-title">
          Are we Half-Life 3 yet?
        </div>
        <div class="box-content">
          <center>
            <img src="/images/hl3.webp" style="width:80%;margin-bottom:4px" />
            <p style="margin-bottom:4px">As of 2025/12/14: wtf geoff</p>
            <p style="font-size:0.75rem;">It's been <span id="days-since-hl2ep2">?</span> days since HL2EP2</p>
          </center>
        </div>
      </div>
    </aside>
    <script defer>
      (() => {
        let mobileNavToggle = document.querySelector('.mobile-top button')
        let siteNav = document.querySelector('aside nav')
        let configureMobileNav = !!mobileNavToggle && !!siteNav

        function preventDefault(fn) {
          return event => {
            event.preventDefault()
            fn()
          }
        }

        if (configureMobileNav) {
          let navState = false

          function showNav(visible) {
            if (navState === visible) {
              return
            }

            if (visible === undefined) {
              visible = !navState
            }

            siteNav.setAttribute('data-open', visible)

            if (visible) {
              let backdrop = document.createElement('div')
              backdrop.id = 'mobile-nav-backdrop'
              backdrop.style = 'position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; z-index: 25; background: #000; opacity: 60%;'
              backdrop.onclick = preventDefault(() => showNav(false))

              document.body.appendChild(backdrop)
            } else {
              document.querySelector('#mobile-nav-backdrop')?.remove()
            }

            navState = visible
          }

          mobileNavToggle.onclick = preventDefault(() => showNav())
        }

        let hl2ep2days = document.getElementById('days-since-hl2ep2')

        if (hl2ep2days) {
          let hl2ep2 = new Date(2007, 9, 10);
          let now = new Date();
          hl2ep2days.innerText = `${Math.round((now - hl2ep2) / (1000 * 60 * 60 * 24))}`
        }

        console.log(`page script ready (nav=${configureMobileNav})`)
      })()
    </script>
  </body>
</html>
